.projects {
  margin-bottom: 30px;
}

.projects h1 {
  color: white;
  margin-bottom: 30px;
}

.projects-list {
  padding-inline: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 30px;
}
