.project-card {
  background-color: white;
  color: #202020;
}

.project-card-image {
  width: 100%;
}

.project-card-body {
  margin: 10px;
}

.project-card-body .btn {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 10px 22px;
  transition: 0.5s;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  text-decoration: none;
  background: #202020;
}

.project-card-body .btn:hover {
  background: tomato;
}
