.about {
  color: white;
  font-weight: 500;
  margin-bottom: 30px;
}

.about-container {
  display: flex;
}

.about-text {
  margin-right: 30px;
}

.btn-resume-container {
  margin-top: 40px;
}

.btn-resume {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 10px 22px;
  transition: 0.5s;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.btn-resume:hover {
  background: tomato;
  border-color: tomato;
}

.profile-image {
  width: 100%; 
  height: auto; 
  max-width: 750px; 
  display: inline-block;
}
