.about {
  color: white;
  font-weight: 500;
  margin-bottom: 30px;
}

.about-container {
  display: flex;
}

.about-text {
  margin-right: 30px;
  font-size: 18px;
}

.btn-container {
  margin-top: 40px;
}

.about .btn {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 10px 22px;
  transition: 0.5s;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.about .btn:hover {
  background: tomato;
  border-color: tomato;
}

.about .btn-resume, .btn-email, .btn-linkedin {
  margin-right: 8px;
}

.profile-image {
  width: 100%;
  height: auto;
  min-width: 400px;
  max-width: 650px;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .btn-linkedin, button-github {
    margin-top: 10px;
  }

  .profile-image {
    min-width: 100px;
  }
}

@media only screen and (max-width: 992px) {
  .about-container {
    flex-wrap: wrap;
  }

  .about-text {
    font-size: 16px;
  }

  .profile-image {
    width: 350px;
    margin-top: 30px;
  }
}
