.home {
  color: white;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.home-header h1 {
  margin: 0;
  font-family: 'arial';
  font-weight: 600;
  line-height: 64px;
  font-size: 64px;
  text-transform: uppercase;
  color: white;
}

.home-header h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  color: tomato;
}

.home-header .btn-resume {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 10px 22px;
  transition: 0.5s;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.home-header .btn-resume:hover {
  background: tomato;
  border-color: tomato;
}

@media only screen and (max-width: 992px) {
  .home-header h1 {
    font-size: 60px;
    line-height: 60px;

  }

  .home-header h2 {
    font-size: 28px;
  }
}

@media only screen and (max-width: 768px) {
  .home-header h1 {
    font-size: 54px;
    line-height: 54px;

  }

  .home-header h2 {
    font-size: 26px;
  }
}